<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>发卡</title>
    <!-- <link href="../static/css/layui.css" rel="stylesheet" type="text/css" media="all"> -->
    <link rel="shortcut icon" href="#"/>
    <script src="../../assets/jquery-1.12.4.min.js"></script>
    <script src="../../assets/wsrProxy.min.js"></script>
    <!-- <script type="text/javascript" src="../static/js/jquery-1.12.4.min.js"></script> -->
    <!-- <script type="text/javascript" src="../static/js/wsrProxy.min.js"></script> -->
</head>
<body>
<form class="layui-form" action="">
    <div class="layui-form-item">
        <div class="layui-input-block">
             
            <button class="layui-btn" onclick="ViewData()">确定发卡</button>
            <button class="layui-btn" onclick="Cancel()">取消发卡</button>
        </div>
    </div>
</form>
</body>

<script type="text/javascript">
    var wsr = wsrProxy; // 从 wsrProxy.js 导出读写器代理服务接口对象
    wsr.init(); // 初始化接口对象
    //发标签

    // $(function () {
        function ViewData(){
            var rt = 0;
            var port = 0;
            var keyType = 0;
            var key = "FFFFFFFFFFFF";
            var v1 = 5000, v2 = 0;
            var block = 12;
            var delaytime = 2;
            var obj = {cardno: "", uid: "", len: 0};
            rt = wsr.ws_openPort(port)
            console.log("open:" + rt)
            try {
                wsr.ws_set_mode(wsr.MODE_TIMEOUT, 300);
                wsr.ws_beep(port)
                rt = wsr.ws_getCardNo_String(port, obj);
                if (rt < 0) {
                    alert("请放入卡片！");
                    return rt;
                }
                rt = wsr.ws_loadKey(port, key, 0);
                if (rt < 0) {
                    alert("密码加载失败！");
                    return rt;
                }
                rt = wsr.ws_readBlock(port, 13 * 4, obj);
                if (rt < 0) {
                    alert("卡类型错误或该卡已有数据！");
                    return rt;
                }
                $.ajax({
                    type: "POST",
                    url: "http://192.168.0.126:8081/send/updateTuckComb?appid=" + obj.cardno,
                    data: {id: "7fb6a421-cf6c-4582-9ba8-1e75c484gjuyw6"},
                    dataType: "jsonp",
                    success: function (data) {
                        let regId=data.list.regId;
                        let gasId=data.list.gasId;
                        let unit=data.list.name;
                        let buildingUser=data.list.buildingUser;
                        let checkStatus=data.status;
                        let times=data.times;
                        alert(regId);
                        alert(gasId);
                        alert(unit);
                        alert(buildingUser);
                        alert(checkStatus);
                        alert(times);
                        /*               rt = wsr.ws_writeBlock(port, 8,regId )
                                       if (regId.length > 16 && regId.length < 32) {
                                           regId = data.list.regId.substring(16)
                                           wsr.ws_writeBlock(port, 9, regId)
                                       } else if (regId.length > 32) {
                                           regId = regId.substring(32)
                                           wsr.ws_writeBlock(port, 10, regId)
                                       }
                                       wsr.ws_writeBlock(port, 12, gasId)
                                       if (gasId.length > 16 || gasId.length < 32) {
                                           gasId = gasId.substring(16)
                                           wsr.ws_writeBlock(port, 13, gasId)
                                       } else if (gasId.length > 32) {
                                           gasId = gasId.substring(32)
                                           wsr.ws_writeBlock(port, 14, gasId)
                                       }
                                       wsr.ws_writeBlock(port, 16, unit)
                                       if (unit.length > 16 || unit.length < 32) {
                                           unit = unit.substring(16)
                                           wsr.ws_writeBlock(port, 17, unit)
                                       } else if (unit.length > 32) {
                                           unit = unit.substring(32)
                                           wsr.ws_writeBlock(port, 18, unit)
                                       }
                                       wsr.ws_writeBlock(port, 20, buildingUser)
                                       if (buildingUser.length > 16 || buildingUser.length < 32) {
                                           buildingUser = buildingUser.substring(16)
                                           wsr.ws_writeBlock(port, 21, buildingUser)
                                       } else if (buildingUser.length > 32) {
                                           buildingUser = unit.substring(32)
                                           wsr.ws_writeBlock(port, 22, buildingUser)
                                       }
                                       wsr.ws_writeBlock(port, 24, checkStatus)
                                       if (checkStatus.length > 16 || checkStatus.length < 32) {
                                           checkStatus = checkStatus.substring(16)
                                           wsr.ws_writeBlock(port, 25, checkStatus)
                                       } else if (checkStatus.length > 32) {
                                           checkStatus = unit.substring(32)
                                           wsr.ws_writeBlock(port, 26, checkStatus)
                                       }
                                       wsr.ws_writeBlock(port, 52, times)*/
                    }

                })
                /* rt = wsr.ws_changeKey(port, 2, '837210987622', "7F078869", '12BBADDAEA11')
                 wsr.ws_changeKey(port, 3, '837210987622', "7F078869", '12BBADDAEA11')
                 wsr.ws_changeKey(port, 4, '837210987622', "7F078869", '12BBADDAEA11')
                 wsr.ws_changeKey(port, 5, '837210987622', "7F078869", '12BBADDAEA11')
                 wsr.ws_changeKey(port, 6, '837210987622', "7F078869", '12BBADDAEA11')
                wsr.ws_changeKey(port, 13, '837210987622', "7F078869", '12BBADDAEA11')*/
                if (rt > 0) {
                    alert("发卡成功!");
                }
            } finally {
                wsr.ws_closePort(port);
            }
        }
    // })


    function Cancel() {

    }
</script>
</html>